<aside class="main-sidebar ">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Dashboard</li>
            <li routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard']"><i class="fa fa-tachometer"></i> <span style="color: #EEC75D">Dashboard</span></a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/config']"><i class="fa fa-cog"></i><span style="color: #EEC75D">Manage Configurations</span></a>
            </li>
            <li routerLinkActive="active">
                <div class="customfooterlogo"><a><i><img src="./assets/img/cdac_logo.png" width="42px" class="fixedimagefooter"></i></a></div>
            </li>
        </ul>
    </section>
</aside>