<aside class="main-sidebar ">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Dashboard</li>
            <li routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard']"><i class="fa fa-tachometer"></i> <span
                        style="color: #EEC75D">Dashboard</span></a>
            </li>
            <!-- <li class="header">New Pattern</li> -->
            <li routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/form']"><i class="fa fa-plus-circle" aria-hidden="true"></i><span
                        style="color: #EEC75D">New Pattern</span></a>
            </li>
            <!-- <li class="header">Data</li> -->
            <li routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/table']"><i class="fa fa-table" aria-hidden="true"></i><span
                        style="color: #EEC75D">Data</span></a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/dataset-tag-pattern']"><i class="fa fa-table" aria-hidden="true"></i><span
                      style="color: #EEC75D">Dataset tags and patterns</span></a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/dataset-tag-pattern-view']"><i class="fa fa-table" aria-hidden="true"></i><span
                      style="color: #EEC75D">Dataset view dialog</span></a>
            </li>
            <li routerLinkActive="active">
                <div class="customfooterlogo"><a><i><img src="./assets/img/cdac_logo.png" width="42px"
                                class="fixedimagefooter"></i></a></div>
            </li>
        </ul>
    </section>
</aside>
