<app-content>
    <ng-container class="inner-dynamic-content">
        <div>
            <p>single-view works!</p>
            {{ ipAddress }}
        </div>
        <div class="asn-div">
            <div style="display: inline;">
                <div style="display: inline-block;">
                    ASN
                </div>
                <div style="display: inline-block;">
                    ASN Name
                </div>
                <div style="display: inline-block;">
                    ASN Country
                </div>
            </div>
        </div>
        <div class="threat-score-div">
            <span>
                Aggregate Confidence Score:
            </span>
        </div>
    </ng-container>
</app-content>