div {
    color: whitesmoke;
    /* text-align: left; */
    background-color: #222736;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
}

.asn-div * {
    text-align: left;
    color: whitesmoke;
}

.clear * {
    color: rgb(10, 187, 19);
}

.suspicious * {
    color: rgb(228, 174, 75);
}