<app-content>
    <ng-container class="inner-dynamic-content">
        <div *ngIf="isArray(content)">
            <ng-container
                *ngIf="doesArrayElementExists(content, 3) && content[3]['text'] == 'Summary' && doesArrayElementExists(content, 4)">
                <div *ngIf="doesObjectPropertyExists(content[4], 'body') && isArray(content[4]['body'])">
                    <h4>Summary</h4>
                    <br>
                    <div>
                        <table>
                            <tr>
                                <th>
                                    <div>
                                        IP Address
                                    </div>
                                </th>
                                <td>
                                    <div>
                                        {{ content[4]['body'][0][1]['text'] }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <div>
                                        Threat Score
                                    </div>
                                </th>
                                <td>
                                    <div
                                        [ngStyle]="{'background-color': content[4]['body'][1][1]['fillColor'] || '#ed841a'}">
                                        {{ content[4]['body'][1][1]['text'] }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <div>
                                        Country
                                    </div>
                                </th>
                                <td>
                                    <div
                                        [ngStyle]="{'background-color': content[4]['body'][2][1]['table']['body'][0][0]['fillColor']}">
                                        <ul *ngIf="content[4]['body'][2][1]['table']['body'][0].length>0">
                                            <li *ngFor="let country of content[4]['body'][2][1]['table']['body'][0]">
                                                {{ country['text'] }}
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <div>
                                        ASN ID
                                    </div>
                                </th>
                                <td>
                                    <div
                                        [ngStyle]="{'background-color': content[4]['body'][3][1]['table']['body'][0][0]['fillColor']}">
                                        <ul *ngIf="content[4]['body'][3][1]['table']['body'][0].length>0">
                                            <li *ngFor="let asn of content[4]['body'][3][1]['table']['body'][0]">
                                                {{ asn['text'] }}
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <div>
                                        ASN Name
                                    </div>
                                </th>
                                <td>
                                    <div
                                        [ngStyle]="{'background-color': content[4]['body'][4][1]['table']['body'][0][0]['fillColor']}">
                                        <ul *ngIf="content[4]['body'][4][1]['table']['body'][0].length>0">
                                            <li *ngFor="let asn_name of content[4]['body'][4][1]['table']['body'][0]">
                                                {{ asn_name['text'] }}
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <div>
                                        Regional Internet Registry
                                    </div>
                                </th>
                                <td>
                                    <div
                                        [ngStyle]="{'background-color': content[4]['body'][5][1]['table']['body'][0][0]['fillColor']}">
                                        <ul *ngIf="content[4]['body'][5][1]['table']['body'][0].length>0">
                                            <li *ngFor="let rir of content[4]['body'][5][1]['table']['body'][0]">
                                                {{ rir['text'] }}
                                            </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </ng-container>

            <div class="report-print">
                <button (click)="downloadPdf()">
                    <span>
                        Print Detailed Report
                    </span>
                </button>
            </div>
        </div>
    </ng-container>
</app-content>