.parent{
    color: whitesmoke;
    background-color: #222736;
    margin: 2vh 1vw 2vh 0;
    padding: 2vh 1vw;
    width: auto;
    height: auto;
}

.content-child {
    margin: 5vh 0 5vh 20vw;
    padding: 5vh 0 5vh 0vw;
    text-align: center;
    justify-content: center;
    width: 30vw;
    background-color: #181c28;
}

::ng-deep .mat-select-placeholder {
    color: #a1a1a1;
}

::ng-deep .mat-select-value-text {
    color: whitesmoke
}

::ng-deep .mat-option-text {
    color: whitesmoke;
}

::ng-deep .mat-select-arrow {
    color: aquamarine;
    transform: scale(1.5);
}

.submit-button-div {
    width: 8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 0 auto 0 30vw;
    text-align: center;
    justify-content: center;
}
.submit-button-div>button {
    box-shadow: 0.6vw 0.8vh 8px rgba(99, 96, 96, 0.2);
    background-color: #181c28;
    color: whitesmoke;
    width: 9vw;
}

.submit-button-div>button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.mat-select {
    margin-top: 5vh;
    /* background-color: aliceblue; */
    padding: 0 2vw 0 2vw;
}