<app-content>
    <ng-container class="inner-dynamic-content">
        <div class="parent">
            <div class="content-child">
                <mat-label>Enter IP</mat-label> &nbsp;&nbsp;
                <input type="text" matInput [(ngModel)]="selectedIp">
                <mat-select [(ngModel)]="selectedScanner" placeholder="Select Scanner">
                    <mat-option *ngFor="let scanOption of getAllScannersList()" [value]="scanOption">
                        {{ scanOption }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="submit-button-div">
                <button type="submit" (click)="onSubmit()">Submit</button>
            </div>
            <app-abuse-ipdbrecord-table [scanReport]="getScanReport()['record']!= null ? getScanReport()['record']: {}" *ngIf="showTable() && getScanReport()['API_Name']=='Abuse IPDB'"></app-abuse-ipdbrecord-table>
            <app-alienvault-record-table [scanReport]="getScanReport()['record']!= null ? getScanReport()['record']: {}" *ngIf="showTable() && getScanReport()['API_Name']=='AlienVault'"></app-alienvault-record-table>
        </div>
    </ng-container>
</app-content>