.inner-table {
    width: 20vw;
    margin: 0 auto;
    padding: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid white;
    color: whitesmoke;
    text-align: center;
}