#inputIndex{
  color: white;
}
::-webkit-input-placeholder
{
    color: #fff;
}

#loading-gif{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 70px;
}

.alert {
  padding: 20px;
  background-color: #222736;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
