div {
    color: whitesmoke;
    text-align: left;
    font-size: 14px;
}

i {
    color: whitesmoke;
}

.action-div {
    display: inline-block;
    margin: 0 0.5vw;
}

.mat-form-field-appearance-fill .mat-form-field-flex input {
    color: whitesmoke;
}

/* .dataTables_length select, */
:host ::ng-deep .dataTables_length select {
    color: white;
    background-color: #181c28;
}

:host ::ng-deep .dataTables_filter input {
    color: white;
    background-color: #181c28;
}