.config-content {
    background-color: #181c28;
    color: whitesmoke;
    height: 90vh;
    /* width: 87vw; */
    /* position: relative; */
    padding: 2vh 2vw;
}

.content-child {
    display: block;
    margin-top: 5vh;
    align-items: center;
    text-align: center;
}

.content-child>button {
    margin-top: 2vh;
    background-color: rgb(252, 242, 242);
    color: #181c28;
    font-weight: bolder;
}

::ng-deep .mat-checkbox-frame {
    border-color: whitesmoke;
}

.status-div {
    text-align: center;
}

table,
tr,
th,
td {
    text-align: center;
    border-color: rgb(145, 143, 143);
    border-width: 1px;
}

.checkbox-div {
    text-align: left;
    margin-left: 32vw;
    margin-top: 2vh;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.report-table{
    overflow: scroll;
}