<div class="record-parent">
    <table>
        <tr>
            <td>asn:</td>
            <td>{{ scanReport['asn'] }}</td>
        </tr>
        <ng-container
            *ngIf="scanReport.hasOwnProperty('base_indicator') && scanReport['base_indicator'].hasOwnProperty('id')">
            <tr>
                <td>base_indicator id:</td>
                <td>{{ scanReport['base_indicator']['id'] }}</td>
            </tr>
        </ng-container>
        <ng-container
            *ngIf="scanReport.hasOwnProperty('base_indicator') && scanReport['base_indicator'].hasOwnProperty('id')">
            <tr>
                <td>base_indicator indicator:</td>
                <td>{{ scanReport['base_indicator']['indicator'] }}</td>
            </tr>
        </ng-container>

        <ng-container
            *ngIf="scanReport.hasOwnProperty('base_indicator') && scanReport['base_indicator'].hasOwnProperty('id')">
            <tr>
                <td>base_indicator type:</td>
                <td>{{ scanReport['base_indicator']['type'] }}</td>
            </tr>
        </ng-container>
        <ng-container>
            <tr>
                <td>latitude:</td>
                <td>{{ scanReport['latitude'] }}</td>
            </tr>
            <tr>
                <td>longitude:</td>
                <td>{{ scanReport['longitude'] }}</td>
            </tr>
            <tr>
                <td>malware count:</td>
                <td>{{ scanReport['malware']['count'] }}</td>
            </tr>
            <tr>
                <td>malware size:</td>
                <td>{{ scanReport['malware']['size'] }}</td>
            </tr>
            <tr>
                <td>reputation:</td>
                <td>{{ scanReport['reputation'] }}</td>
            </tr>
        </ng-container>
        <tr>
            <td>whois:</td>
            <td>{{ scanReport['whois'] }}</td>
        </tr>
    </table>

    <ng-container *ngIf="scanReport.hasOwnProperty('false_positive') && scanReport['false_positive']!=null">
        <table *ngIf="falsePositiveFieldValtest()" class="inner-table">
            <tbody>
                <tr>
                    <th>Assessment</th>
                    <th>Assessment Date</th>
                    <th>Report Date</th>
                </tr>
                <tr *ngFor="let fp of scanReport['false_positive']">
                    <td>{{ fp['assessment'] }}</td>
                    <td>{{ fp['assessment_date'] }}</td>
                    <td>{{ fp['report_date'] }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container *ngIf="scanReport.hasOwnProperty('validation') && scanReport['validation'] != null">
        <p>validation:</p>
        <br>
        <table *ngIf="scanReport['validation']?.length > 0" class="inner-table">
            <tbody>
                <tr *ngFor="let item of scanReport['validation']">
                    <td>{{ item['name'] }}</td>
                    <ng-container [ngSwitch]="typeOfValidation(item['message'])">
                        <td *ngSwitchCase="'string'">{{ item['message'] }}</td>
                        <td *ngSwitchCase="'object'">
                            <table>
                                <tr>
                                    <td>Message:</td>
                                    <td>{{ item['message']['message'] }}</td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{ item['message']['name'] }}</td>
                                </tr>
                                <tr>
                                    <td>Source:</td>
                                    <td>{{ item['message']['source'] }}</td>
                                </tr>
                            </table>
                        </td>
                    </ng-container>
                </tr>

            </tbody>
        </table>
        <span *ngIf="!scanReport['validation'] || scanReport['validation']?.length == 0">None</span>
    </ng-container>

    <ng-container
        *ngIf="scanReport.hasOwnProperty('malware') && scanReport['malware'].hasOwnProperty('data') && scanReport['malware']['data'] != null">
        <p>Malware data:</p>
        <br>
        <table>
            <div style=" height: 20vh;width: 60vw;">
                <tr>
                    <th>
                        <div class="malware-data-child-date">
                            date
                        </div>
                    </th>
                    <th>
                        <div class="malware-data-child-hash">
                            hash
                        </div>
                    </th>
                    <th>
                        <div class="malware-data-child-detections">
                            detections
                        </div>
                    </th>

                </tr>
            </div>
            <div class="malware-data-child">
                <tr *ngFor="let item of scanReport['malware']['data']">
                    <td>
                        <div class="malware-data-child-date">
                            {{ item['date'] }}
                        </div>
                    </td>
                    <td>
                        <div class="malware-data-child-hash">
                            {{ item['hash'] }}
                        </div>
                    </td>
                    <td>
                        <div class="malware-data-child-detections">
                            <table>
                                <tr>
                                    <th>antivirus</th>
                                    <th>signature</th>
                                </tr>
                                <tr *ngFor="let detection of item['detections'] | keyvalue">
                                    <td>{{ detection.key }}</td>
                                    <td>{{ detection.value }}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </div>
        </table>
    </ng-container>
</div>