<header class="main-header ">
    <nav class="navbar navbar-static-top top-bar-bg-color">
        <a class="sidebar-toggle" data-toggle="push-menu" role="button" data-target="#main-sidebar">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="headershadow" [ngClass]="{'innerheaderclass' : !fullWidthLayout}">
            <!-- <div class="loginusername">
                <img src="./assets/img/login-user.png" width="22" class="user-image" alt="User Image">
                &nbsp;ADMIN
            </div> -->
            <div class="customheaderlogo">
                <!-- <img src="./assets/img/webSIEM_logo_final.png" class="hidden-xs"> -->
                <img src="./assets/img/C-DAC-SIEM_logo_Final.png" class="hidden-xs">
                <img src="./assets/img/C-DAC-SIEM_icon.png" class="visible-xs" style="width: 32px;">
            </div>
        </div>
    </nav>
</header>