<div style="color: whitesmoke;">
    {{ scanReport | json }}

    <b>General Characteristics</b>
    <table *ngIf="scanReport.hasOwnProperty('base') && scanReport['base']!= null">
        <thead>
            <tr>
                <th>Is Bogon (Reserved for Private or Special Use)</th>
                <th>Is ToR exit node</th>
                <th>Is o any known threat lists</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                    </div>
                </td>
                <td>
                    <div>

                    </div>
                </td>
                <td>
                    <div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>